/*Colors Used
    Backgrounds: f5f3f0(off white)
    Primary: Greens: 002f18(dark green) 7c9948 (asparagus green) c9d57c (deco-lighter green)
    Secondary: Browns: b2967d(brown) 645445(darker brown)    
    Accessory: Pinks:  e6beae(rose) e7d8c9(nude) eee4e1(pale blush)*/


/* Typography */
    body {
        background-color: #f5f3f0;
        font-family: "Roboto", sans-serif;
        font-size: 16px; /* Sets the font size to 16px */
        font-weight: 300; /* Sets the font weight to 300 */
        line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
        color: #070707;
      }
      
      h1, h2, h3, h4 {
        line-height: 1.4;
      }
      h1 {
        font-size: 2.75em;
        font-weight: 700;
      }
      
      h2 {
        font-size: 2.25em;
        font-weight: 700;
      }
      
      h3 {
        font-size: 1.75em;
        font-weight: 400;
      }
      h4 {
        font-size: 1.35em;
        font-weight: 400;
      }

      img {
        width:100%;
      }

/* Hyperlinks and Buttons 

      - a:hover must come after a:visited in the CSS definition in order to be effective! 
      - Likewise, a:active must come after a:hover in the CSS definition in order to work.
*/

    a {
        color: #002f18;
        text-decoration: none; /* No underlining */
      }
      a:hover {
        color: #e3a5a1;
        text-decoration: underline; /* Underlining when hovering over a link */
      }

      a:visited { /* visited link */
        color: #7c9948;
      }
      a:active { /* selected link */
        color: #645445;
      }

/* When styling Buttons, here is everything that must be included
    -Its primary color as the background color;
    -Bold font weight;
    -A white font color;
    -An inner spacing separating the button text from its border;
    -Rounded corners;
    -A border along the bottom.
*/

      .button {
        display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block*/
        background-color: #7c9948;
        color: #002f18; /* needed to override the default link color */
        font-weight: 400;
        padding: 10px;
        border-radius: 3px;
        border: 2px solid #002f18;
        border-bottom: 2px solid #002f18; /* width of the border, type, color */
        transition: 0.2s opacity;
      }

      .button:hover {
        opacity: 0.9; /* Reduces the opacity of the button to 80% */
        color: #ffffff;
        text-decoration: none;
      }

     .button:active {
      opacity: 0.9; /* Reduces the opacity of the button to 80% */
      color: #ffffff;
      text-decoration: none;
    }

    .button.contact {
      background-color: transparent;
      color: #002f18;
      text-transform: uppercase;
      border: 2px solid #002f18;
    }

    .button.contact:hover {
      background-color: #7c9948;
      color: #ffffff;
    }

    .button.contact:active {
      background-color: #645445;
      color: #ffffff;
    }